<h2>Logout</h2>
<hr />
<p>
    Are you sure you want to log out?
    <form asp-controller="Credit" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</p>
